body{
    font-family: "Poppins", serif;
    background-image: url( “concrete_seamless.png”);
    background-color: #f1f1f1;
  }
header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-items: center;
    align-items: center;
  }
  .nav_item a:visited{
    color:#0000ff;
  }
  ul.nav_links{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
  }
.pricing{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
  }

  .card>header{
    background-color: #288088;
    border: 2px solid #45ADAD ;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index:0;
  }

  .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .gallery img{
    margin: 10px;
    width: 300px;
    border: #50C7C7 solid 10px;
  }


  #logo{
    animation: logo 5s;
  }
@keyframes logo{
  from{width: 25px;}
  to {width: 475px;}
  from{opacity: 0;}
  to{opacity:1;}
}
    @media screen and (min-width: 900px){
      header{
        flex-direction: row;
        justify-content:space-between;
      }
      ul.nav_links{
        flex-direction:row;
      }
      .card{
        flex-basis: 250px;
      }
      body> header:first-of-type{
        position: sticky;
        z-index: 1;
        top: 0;
      }
    }
  @media print{
    nav{
      width:100%;
      justify-content:space-between;
    }
    .card{
      border: 2px solid #45ADAD ;
    }
    ul.nav_links{

      flex-direction: row;
      justify-content:space-around;
    }
    .card li:nth-child(2)::after{
        	
      content: "\1F44D";
    }
    .pricing{
      flex-wrap:nowrap;
    }
    #gallery, .gallery{
      display: none;
    }
  }
  
    @media screen and (prefers-reduced-motion){
      body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: none;
      }
      
      .card{
        border: #45ADDD solid 2px;
        flex-basis: 325px;
      }
      .pricing{
        position: absolute;
        bottom: 0;
      }
    #logo{
      animation: none;

    }
}